# Data Cleaning

### TODO:

- understand what kind of data we're dealing with
- salary parsing (delete Glassdoor part, delete NULL)
- company name, text only
- state field, delete city name
- is company a headquarter
- age of company
- parsing job description

In [1]:
import numpy as np 
import pandas as pd 

# pd.set_option("display.precision", None)
# pd.set_option("display.expand_frame_repr", False)
# pd.set_option("display.max_rows", 20)

In [2]:
data = pd.read_csv("glassdoor_jobs.csv")
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [3]:
data.shape

(956, 15)

In [4]:
# Drop unnamed column
data.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
## Salary Parsing

In [6]:
# delete 'Salary Estimate' column with values '-1'
data = data[data['Salary Estimate'] != '-1']
data.shape

(742, 14)

In [7]:
data['Salary Estimate']

0       $53K-$91K (Glassdoor est.)
1      $63K-$112K (Glassdoor est.)
2       $80K-$90K (Glassdoor est.)
3       $56K-$97K (Glassdoor est.)
4      $86K-$143K (Glassdoor est.)
                  ...
950    $58K-$111K (Glassdoor est.)
951    $72K-$133K (Glassdoor est.)
952     $56K-$91K (Glassdoor est.)
953    $95K-$160K (Glassdoor est.)
955    $61K-$126K (Glassdoor est.)
Name: Salary Estimate, Length: 742, dtype: object

In [8]:
# create new columns for hourly rate if presented there
data['hourly'] = data['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
data['employer_provided'] = data['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0

In [9]:
salary = data['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary = salary.apply(lambda x: x.replace('K', '').replace('$', '')) # delete $, and K
salary = salary.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', '')) # delete a bit more stuff
salary.head()

0     53-91
1    63-112
2     80-90
3     56-97
4    86-143
Name: Salary Estimate, dtype: object

In [10]:
data['min_salary'] = salary.apply(lambda x: int(x.split('-')[0]))
data['max_salary'] = salary.apply(lambda x: int(x.split('-')[1]))
data['mean_salary'] = (data.min_salary + data.max_salary) / 2


print(data['min_salary'].dtype)
print(data[['min_salary', 'max_salary', 'mean_salary']].head(20))

int64
    min_salary  max_salary  mean_salary
0           53          91         72.0
1           63         112         87.5
2           80          90         85.0
3           56          97         76.5
4           86         143        114.5
5           71         119         95.0
6           54          93         73.5
7           86         142        114.0
8           38          84         61.0
9          120         160        140.0
10         126         201        163.5
11          64         106         85.0
12         106         172        139.0
13          46          85         65.5
14          83         144        113.5
15         102         190        146.0
16          67         137        102.0
17         118         189        153.5
18         110         175        142.5
19          64         111         87.5

In [11]:
# Company Name
# Text only

In [12]:
# delete threee chars from the end of all rows
# as we did not specify Series in .apply(), so that we must use axis=1
data['company_txt'] = data.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis=1)
data

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,mean_salary,company_txt
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research\n
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System\n
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4\n
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL\n
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5,GSK\n
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5,Eventbrite\n
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56,91,73.5,Software Engineering Institute\n
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95,160,127.5,"Numeric, LLC\n"
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61,126,93.5,Riverside Research Institute\n

In [13]:
# State Field

In [14]:
data["job_state"] = data['Location'].apply(lambda x: x.split(',')[-1])
data.job_state.value_counts()

 CA    152
 MA    103
 NY     72
 VA     41
 IL     40
 MD     35
 PA     33
 TX     28
 NC     21
 WA     21
 NJ     17
 FL     16
 OH     14
 TN     13
 CO     11
 DC     11
 WI     10
 IN     10
 UT     10
 AZ      9
 MO      9
 AL      8
 KY      6
 DE      6
 GA      6
 MI      6
 CT      5
 IA      5
 OR      4
 NE      4
 LA      4
 NM      3
 KS      3
 ID      2
 MN      2
 RI      1
 SC      1
Name: job_state, dtype: int64

In [16]:
# age of company
# subtract current year from the year founded
data['age'] = data['Founded'].apply(lambda x: x if x < 1 else 2021 - x)
data.age

0       48
1       37
2       11
3       56
4       23
      ...
950    191
951     15
952     37
953     -1
955     54
Name: age, Length: 742, dtype: int64

In [15]:
# headquarters and location are the same?
data['same_state'] = data.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis=1)
data.same_state

0      0
1      0
2      1
3      1
4      1
      ..
950    0
951    0
952    1
953    0
955    0
Name: same_state, Length: 742, dtype: int64

In [17]:
# parsing the job descriptions

# python
data['python_yn'] = data['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
 
# r studio 
data['R_yn'] = data['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
print(data.R_yn.value_counts())

# spark 
data['spark'] = data['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
print(data.spark.value_counts())

# aws 
data['aws'] = data['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
print(data.aws.value_counts())

# excel
data['excel'] = data['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
print(data.excel.value_counts())

0    740
1      2
Name: R_yn, dtype: int64
0    575
1    167
Name: spark, dtype: int64
0    566
1    176
Name: aws, dtype: int64
1    388
0    354
Name: excel, dtype: int64

In [20]:
data.Industry.value_counts()

Biotech & Pharmaceuticals                   112
Insurance Carriers                           63
Computer Hardware & Software                 59
IT Services                                  50
Health Care Services & Hospitals             49
Enterprise Software & Network Solutions      42
Internet                                     29
Consulting                                   29
Advertising & Marketing                      25
Aerospace & Defense                          25
Consumer Products Manufacturing              20
Research & Development                       19
Colleges & Universities                      16
Energy                                       14
Banks & Credit Unions                        12
Federal Agencies                             11
-1                                           10
Staffing & Outsourcing                       10
Food & Beverage Manufacturing                 8
Lending                                       8
Real Estate                                   8
Travel Agencies                               8
Financial Analytics & Research                8
Security Services                             7
Religious Organizations                       6
Department, Clothing, & Shoe Stores           6
Insurance Agencies & Brokerages               6
Investment Banking & Asset Management         5
Gambling                                      4
Industrial Manufacturing                      4
Logistics & Supply Chain                      4
Gas Stations                                  4
K-12 Education                                4
Telecommunications Services                   4
Architectural & Engineering Services          4
Financial Transaction Processing              4
Education Training Services                   3
Social Assistance                             3
Video Games                                   3
Stock Exchanges                               3
Consumer Product Rental                       3
Wholesale                                     3
Construction                                  3
Transportation Management                     3
TV Broadcast & Cable Networks                 2
Sporting Goods Stores                         2
Metals Brokers                                2
Brokerage Services                            2
Telecommunications Manufacturing              2
Mining                                        1
Farm Support Services                         1
Health Care Products Manufacturing            1
Accounting                                    1
Transportation Equipment Manufacturing        1
Beauty & Personal Accessories Stores          1
Health, Beauty, & Fitness                     1
Trucking                                      1
Auctions & Galleries                          1
Other Retail Stores                           1
Motion Picture Production & Distribution      1
Name: Industry, dtype: int64

In [19]:
data.Sector.value_counts()

Information Technology                180
Biotech & Pharmaceuticals             112
Business Services                      97
Insurance                              69
Health Care                            49
Finance                                42
Manufacturing                          34
Aerospace & Defense                    25
Education                              23
Retail                                 15
Oil, Gas, Energy & Utilities           14
Government                             11
-1                                     10
Non-Profit                              9
Travel & Tourism                        8
Real Estate                             8
Transportation & Logistics              8
Media                                   6
Telecommunications                      6
Consumer Services                       4
Arts, Entertainment & Recreation        4
Construction, Repair & Maintenance      3
Mining & Metals                         3
Accounting & Legal                      1
Agriculture & Forestry                  1
Name: Sector, dtype: int64

In [18]:
# saving the updated data
data.to_csv('salary_data_cleaned.csv', index=False)